body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    background-image: url(img/bg.jpg);
    background-size: cover;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    background-image: url(img/bg.jpg);
    background-size: cover;
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.hero {
    backdrop-filter: blur(10px); 

    display: flex;

    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#start-hero {
    width: 500px;
}

button {
    border-radius: 6px;
    border: rgba(255, 255, 255, 0.2) 2px solid;
    padding: 12px;

    color: white;

    background: #7f54ff;
    background:
        linear-gradient(0deg, rgba(127, 84, 255, 1) 0%, rgba(98, 73, 222, 1) 54%, rgba(136, 108, 241, 1) 91%, rgba(165, 135, 255, 1) 100%);
}

button:hover {
    border-radius: 6px;
    border: rgba(47, 18, 154, 0.2) 2px solid;
    padding: 12px;

    color: rgb(235, 226, 255);
    
    background: #7b4fff;
    background:
        linear-gradient(0deg, rgba(123, 79, 255, 1) 0%, rgba(76, 46, 230, 1) 12%, rgba(67, 15, 255, 1) 41%, rgba(92, 38, 255, 1) 100%);
}
