body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    background-image: url(img/bg.jpg);
    background-size: cover;
}

div.hero {
    backdrop-filter: blur(10px); 

    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.glass {
    backdrop-filter: blur(20px);
    border-radius: 1rem;

    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;

    size: 120%;
    padding: 12px;

    background: #E8E0FF;
    background:
        linear-gradient(54deg,rgba(232, 224, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 47%, rgba(239, 222, 255, 0.2) 89%);
    border: rgba(255, 255, 255, 0.2) 2px solid
}

button {
    border-radius: 6px;
    border: rgba(255, 255, 255, 0.2) 2px solid;
    padding: 12px;

    color: white;
    
    background: #7f54ff;
    background:
        linear-gradient(0deg, rgba(127, 84, 255, 1) 0%, rgba(98, 73, 222, 1) 54%, rgba(136, 108, 241, 1) 91%, rgba(165, 135, 255, 1) 100%);
}
