body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    background-image: url(img/bg.jpg);
    background-size: cover;
}

div.hero {
    backdrop-filter: blur(10px); 
    
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;
}
