body {
    background-color: rgb(61, 61, 73);
}

#game_browser {
    background-color: rgb(67, 67, 78);
    display: flex;
    gap: 24px;
    padding: 12px;
    
    z-index:1000;

    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.app {
    width: 400px;
    height: 400px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: transparent;
    border: transparent;
    border-radius: 0.4rem;

    flex-shrink: 0;
    cursor: default;
}

.app:hover {
    box-shadow: 0px 0px 14px 0px rgba(46,123,255,0.9);
    filter: brightness(110%) saturate(90%);
    /* background-size: cover; */
}